@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root{
    --transition: all 0.7s ease;
    --yellow: #EAB875;
    --blue: #17406D;
    --dark: #181818;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto, serif;
}
html{
    scroll-behavior: smooth;
}
body{
    line-height: 1.6;
    color: white;
    background-color: #181818;
}
img{
    width: 100%;
    display: block;
}
@media(max-width: 500px){
    body{
        font-size: 14px;
    }
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.nav-trigger i {
    font-size: 30px;
    color: white;
}
.site-logo img {
    width: 50px;
}

/* Side nav */
.sidenav{
    background: var(--dark);
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 100px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
}

/******/
.sidenav.show{
    right: 0;
}
/******/
.cancel-btn{
    position: absolute;
    left: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(---transition);
}
.cancel-btn:hover{
    opacity: 0.7;
}
.navbar{
    margin-top: 50px;
    list-style: none;
    padding: 12px;
}
.navbar li a{
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    padding: 15px 0;
    display: block;
    opacity: 0.8;
    letter-spacing: 1.5px;
    transition: var(--transition);
}
.navbar li a:hover{
    padding-left: 12px;
}
.sign-up, .sign-in{
    background: var(--yellow);
    color: white;
}
@media(max-width: 500px){
    .sidenav{
        width: 70vw;
    }
}

/*body*/
.body {
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.scroll-div {
    width: 100%;
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}

.cover {
    position: relative;
    width: 100%;
    height: 50%;
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    grid-gap: 16px;
    justify-content: left;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.scroll-images2 {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
}

.child {
    min-width: 100%;
    cursor: pointer;
    overflow: hidden;
}

.child2 {
    min-width: 50%;
    cursor: pointer;
    overflow: hidden;
}

.child-img {
    width: 100%;
    border-radius: 10px;
}

.child-img2 {
    width: 95%;
    height: 299px;
    border-radius: 10px;
}

.child-img2-cover {
    bottom: 0;
    right: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #181818;
}

.bill {
    color: var(--yellow);
}

.subscription-block {
    display: flex;
    flex-direction: column;
    justify-content: center
}

.subscription-block input {
    width: 100%;
    height: 35px;
    margin-bottom: 10px;
}

.subscription-block button {
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
    background-color: var(--blue);
}

.col1 {
    margin-top: 25px;
    text-align: center;
}

.col1 video {
    width: 345px;
    border-radius: 5px;
    margin-top: 25px;
}

.explore {
    margin-top: 25px;
    text-align: center;
}

.trends{
    margin-top: 15px;
    text-align: left;
}

.trends span {
    font-size: 14px;
    font-weight: 300;
}

.explore button {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
    border-radius: 10px;
    background-color: var(--blue);
}

.explore a {
    color: white;
    text-decoration: none;
}

.featured {
    margin-top: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.features {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    justify-content: center;
}
.topics {
    margin: 20px;
}

.topics p {
    color: #EAB875;
}

.img {
    display: flex;
    justify-content: center;
}

.featured img {
    width: 345px;
    margin: 25px 0;
}

.watch-free {
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 10px;
    background-color: var(--blue);
}

.breakpoint {
    margin: 20px 0;
}

.signup {
    width: 150px;
    color: white;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 10px;
    background-color: var(--blue);
}

.explore-btn {
    width: 250px;
    color: var(--dark);
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 10px;
    background-color: var(--yellow);
}

.contact {
    margin: 25px 0;
    text-align: center;
    text-transform: uppercase;
}

.contact h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-decoration: underline;
}

.contact h3 {
    font-size: 20px;
    text-align: left;
    margin-top: 15px;
}

.contact p {
    font-size: 14px;
    text-align: left;
    margin-top: 5px;
}

.field {
    width: 100%;
    height: 43px;
    margin-top: 10px;
}

.comfirmation {
    text-align: left;
    margin-top: 15px;
}

.Submit {
    width: 100%;
    color: whitesmoke;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    border-radius: 10px;
    background-color: var(--dark);
    border: solid 1px whitesmoke;
}

/*footer*/

.footer{
    display: flex;
    color: white;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer-links {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    font-size:18;
    justify-content: center;
}

.footer-link {
    margin-right: 10px;
}

.footer-icons {
    margin-top: 10px;
}

.footer-icons i {
    margin-right: 10px;
    font-size: 25px;
}

.copyright {
    display: flex;
    align-items: center;
}

.copyright img {
    width: 70px;
}

.showmodal{
    position: fixed;
    background: transparent;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
}